<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gauss ML Prague - Python and Flask</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>

<body>
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      
    <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Cover</h3>
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="#">Home</a>
                <a class="nav-link" href="https://github.com/gaussalgo">GitHub</a>
                <a class="nav-link" href="https://www.gaussalgo.com/contact-us/#contact">Contact</a>
              </nav>
            </div>
          </div>

    <div class="cover-container">
      <div class="inner cover">
      <h1 class="cover-heading">Gauss Image Upload</h1>
      <form class="cover" action="/upload" method="post" enctype="multipart/form-data" >
        <div class="form-group">
          <input class="align-center" type="file" class="form-control-file" id="browse" name="image">
        </div>

        <input type="submit" value="Upload your image" class="btn btn-primary">
      </form>
    
    </div>
 
  </div>
    </div>
    </div>

</body>
</html>